<%- include('./partials/header.ejs')%>
    <section class="messenger">
        <div class="contacts">
            <ul>
                <li>
                    <img src="./assets/img/user.png" alt="">
                    <div class="meta">
                        <span class="name">Mr. Twist</span>
                        <span class="email">mr.twist@email.com</span>
                    </div>
                </li>
                <li>
                    <img src="./assets/img/user.png" alt="">
                    <div class="meta">
                        <span class="name">Mrs Twists</span>
                        <span class="email">mr.twist@email.com</span>
                    </div>
                </li>
            </ul>
            <div class="new-conversation">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </div>
        </div>
        <div class="conversation">
            <div class="top">
                <sapn class="name">Mr. Twist</sapn>
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </div>
            <div class="body">
                <div class="incoming-message">
                    <img src="./assets/img/user.png" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste dolore dicta delectus saepe sit
                        dolorem blanditiis reprehenderit consequatur! Aut accusamus dolorem sint accusantium minus
                        consequuntur placeat dignissimos fugiat fuga, obcaecati vel deserunt iure ea incidunt odio
                        dolor, inventore cumque. Provident blanditiis commodi molestias dolor, dignissimos inventore sit
                        eius? Quibusdam laudantium aliquid, molestiae culpa suscipit eius esse hic eligendi, similique
                        nobis quis illo? Illum, beatae. Possimus fugit, laborum cum animi reprehenderit nulla nostrum
                        maxime obcaecati excepturi amet facilis optio ratione pariatur iusto quis at nihil cumque
                        exercitationem! Repudiandae tenetur dolores nostrum itaque, exercitationem, corrupti illum
                        cupiditate molestiae illo aliquam at explicabo.</p>
                    <span class="time">7.45 pm | aug 2</span>
                </div>
                <div class="outgoing-message">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, nemo.</p>
                    <span class="time">7.45 pm | aug 2</span>
                </div>
                <div class="incoming-message">
                    <img src="./assets/img/user.png" alt="">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, nemo.</p>
                    <span class="time">7.45 pm | aug 2</span>
                </div>
                <div class="outgoing-message">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, nemo.</p>
                    <span class="time">7.45 pm | aug 2</span>
                </div>
                <div class="incoming-message">
                    <img src="./assets/img/user.png" alt="">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, nemo.</p>
                    <span class="time">7.45 pm | aug 2</span>
                </div>
                <div class="outgoing-message">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, nemo.</p>
                    <span class="time">7.45 pm | aug 2</span>
                </div>
                <div class="incoming-message">
                    <img src="./assets/img/user.png" alt="">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, nemo.</p>
                    <span class="time">7.45 pm | aug 2</span>
                </div>
                <div class="outgoing-message">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, nemo.</p>
                    <span class="time">7.45 pm | aug 2</span>
                </div>
            </div>
            <div class="bottom">
                <form action="">
                    <i class="fa fa-paperclip" aria-hidden="true"></i>
                    <input type="text" class="input-conversation" placeholder="Message...">
                    <button class="send">Send</button>
                </form>
            </div>
        </div>
    </section>
    <div class="modal">
        <div class="head">
            <div class="title">
                <h1>Create new conversation</h1>
            </div>
        </div>
        <div class="body">
            <form action="">
                <input type="text" name="" id="search-input">
            </form>
        </div>
    </div>
    <div class="user-list">
        <ul>
            <li>
                <img src="/assets/images/user.png" alt="">
                <span class="name">Mr. Twist</span>
            </li>
        </ul>
    </div>
    <%- include('./partials/bottom.ejs')%>