<%- include('./partials/header.ejs')%>
    <div class="container">
        <div class="display-flex">
            <div class="login">
                <form action="">
                    <input type="email" placeholder="Enter Your Email Adddress">
                    <input type="password" placeholder="Enter Your Password">
                    <button>Login</button>
                </form>
                <span>Don't have an account? <a href="signup">Create Here</a></span>
            </div>
        </div>
    </div>
    </body>

    </html>