<%- include('./partials/header.ejs')%>
    <section class="users">
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>email</th>
                    <th>roll</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="id">1</td>
                    <td>Mr. Twist</td>
                    <td>mrtwist@gmail.com</td>
                    <td class="roll">user</td>
                    <td class="delete"><i class="fa fa-trash" aria-hidden="true"></i></td>
                </tr>
                <tr>
                    <td class="id">1</td>
                    <td>Mr. Twist</td>
                    <td>mrtwist@gmail.com</td>
                    <td class="roll">user</td>
                    <td class="delete"><i class="fa fa-trash" aria-hidden="true"></i></td>
                </tr>
            </tbody>
        </table>
    </section>
    </body>

    </html>